# ------------------------------------------------
# 1. Python & Environment (Standard)
# ------------------------------------------------
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# ------------------------------------------------
# 2. Heavy Data (IGNORE ALL OF THIS)
# ------------------------------------------------
# نمنع رفع أي حاجة جوه فولدرات الداتا
data/*


# لو عايز ترفع هيكل الفولدرات بس من غير ملفات، ممكن تستخدم الطريقة دي (اختياري)
# data/*
# !data/.gitkeep

# ------------------------------------------------
# 3. Model Weights & Training Outputs
# ------------------------------------------------
# نمنع رفع موديلات YOLO التقيلة والنتائج
*.pt
*.onnx
runs/
data/outputs/

# ------------------------------------------------
# 4. OS Files (Junk)
# ------------------------------------------------
.DS_Store
Thumbs.db